@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

}

@layer utilities {
    .h-my-screen {
        height: 100dvh;
    }
    .router-link-active {
        font-weight: bold;
        font-size: larger;
    }
    .w-my-screen {
        width: 100dvw;
    }
}
